{% extends "base.html" %}
{% block content %}

{% for post in page_obj %}

    <div class="card post mt-3">
        <div class="card-body">
            <h5 class="card-title">{{ post }}</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">{{ post.community }} - {{ post.author }}</h6>
            <p class="card-text">{{ post.content|slice:":600" }}</p>
            <a href="{{post.community}}/{{post.pk}}" class="card-link button-link">Open</a>
        </div>
    </div>



{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}